.root {
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
    -fx-background-image: url("../menucontroller/mainmenubackground.jpeg");
}

.button {
  -fx-background-color: BLACK; /* Adjust background color as desired */
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-padding: 10px 20px;
  -fx-border-radius: 5px;
  -fx-cursor: hand;
  -fx-font-family: "cod_font.ttf";
  -fx-font-size: 12px; 
  -fx-alignment: center;
-fx-justify-content: center;
}
.button:hover {
  -fx-background-color: #2980b9; /* Slightly darker on hover */
}
.button:pressed {
  -fx-background-color: #536878; /* Darken on press */
}
#pane{
	 -fx-alignment: center;
}
